SECRET_KEY=your-key
DEBUG=True
DB_NAME=shopflow_orders
DB_USER=root
DB_PASSWORD=shopflow_orders@12345
DB_HOST=db_shopflow_orders
DB_PORT=3306


FRONTEND_URL=http://54.251.154.110:5173

RESEND_API_KEY=resend-key
RESEND_FROM_EMAIL=onboarding@resend.dev