SECRET_KEY=your-django-secret-key
DEBUG=True

DB_NAME=shopflow_home
DB_USER=root
DB_PASSWORD=your-db-password
DB_HOST=db-shopflow-auth
DB_PORT=3306

FRONTEND_URL=http://54.251.154.110:5173

RESEND_API_KEY=your-resend-api-key
RESEND_FROM_EMAIL=your-verified-email@example.com